.form-wrapper {
	padding: 10px;
}

#landing {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff url('../images/upc.gif') no-repeat center center;
  z-index: 11;
  opacity: 1.0;
}